<!DOCTYPE html>
<html>
  <head>
    <title>Пользователи</title>
  </head>
  <body>
    <!-- (сюда писать решение) -->
    
    <h1>Пользователи</h1>
    <table border="1">
      <tr>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          <a href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div>
      <a href="/users?page={{ page - 1 }}&limit={{ limit }}" {% if page <= 1 %}style="visibility: hidden;"{% endif %}>Предыдущая</a>
      <a href="/users?page={{ page + 1 }}&limit={{ limit }}">Следующая</a>
    </div>

    <!-- (конец решения) -->
  </body>
</html>
